{% extends 'costumer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>Welcome to ComidaMania! The fastest and easiest way to get your favorite foods, grocery items and more delivered right to your door. Browse a wide selection of restaurants and stores, place your order in just a few clicks and track the status of your delivery in real time - enjoy the convenience of having it all at your fingertips!</p>
        </div>
    </div>
</div>

{% endblock content %}